<section class="post-container">
    <header class="post-header">
        <a href="/post/{{id}}">{{title}}</a>
        <p class="subtitle">Posted by {{user.username}} on {{formatDate created_at}}</p>
    </header>
    <section>
        <p>{{content}}</p>
    </section>
</section>